@charset "utf-8";
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}
ul,ol
{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
html{
    /* rem 폰트 사이즈 적을려면 적기 */

    /* 폰트사이즈 고정 */
     /* Prevent font scaling in landscape */

     -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

     -moz-text-size-adjust: none; /*Firefox*/

     -ms-text-size-adjust: none;  /*Ie*/

     -o-text-size-adjust: none; /*old versions of Opera*/
}

div
{
    box-sizing: border-box;
}

body
{
    font-size: 20px;
    color: #333;
    
    font-family: 'Pretendard';
    font-weight: 400px;
}


@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img
{
    display: block;
}
ul,ol
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: inherit;
}
#wrap
{
    min-width:1360px;
  margin: 0 auto;

}
#header_wrap
{
    margin: 0 auto;
    background-color: #2F3E75;
 position: fixed;
z-index: 99;
left: 0;
right: 0;
}

#header
{
    position: relative;
margin: 0 auto;
width: 1320px;
height: 100px;
background-color: #2F3E75;
display: flex;
align-items: center;
justify-content: space-between;


}



.gnb
{
    
    display: flex;
    align-items: center;
}
.gnb li a
{
    font-family: 'SBAggroL';
    padding: 40px;
    font-size: 16px;
    color: #E1ECB8;
}
.gnb li:nth-child(2)
{
    padding-left: 100px;
}

.gnb li a:hover
{
    font-family: 'SBAggroM';
color: #74AD5B;
}


#logo
{
    display: block;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

/* main */

#main 
{
    width: 100%;
    height: 967px;
    background:#FFFCEE url(../img/bg/main_bg.svg) no-repeat center;
    position: relative;

}
#main img
{
    margin-top: 200px;
    display: block;
}
#main_logo_text
{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

#main h1
{
   padding-top: 40px;
    font-size: 25px;
}

#main_text
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    font-family: 'SBAggroM';
    color: #FFFCD7;
}

#main_img
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/* content 1 - 2 */
#content1_2bg
{
    position: relative;
    height: 2547.06px;
    margin: 0 auto;
    background: url(../img/bg/contet1_2bg.svg) top center no-repeat  ;

}
#inner_bg1_2
{
padding-top: 100px;
    height: 1316.74px;
    background: url(../img/bg/bg2.svg) top 100px center no-repeat;
}
h1
{
    margin: 30px 0;
    font-family: 'SBAggroM';
    font-weight: 400;
    font-size: 38px;
}

p
{

    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
   
}
h2
{
    font-family: 'SBAggroM';
    font-weight: 400;
}
/* content 1 */
#content1
{
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
height: 800px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin-bottom: 100px;
justify-content: start;
}
#content1 h1
{
    margin: 35px 0;
    font-family: 'SBAggroM';
    font-weight: 400;
    font-size: 38px;
}
#content1 h2
{
    margin: 35px 0;
    font-size: 24px;
}

#content1 p
{

    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    padding: 10px 0;

}

#content2
{
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
height: 1500px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
text-align: center;

}

.ai
{
    margin-top: 70px;
    display: flex;

}

.ai li 
{
    padding: 0px 20px;
}

#content2 #text2
{
  margin-top: 150px;
}

#content3
{
    
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 150px auto;
height: 600px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
text-align: center;
}

.skill
{
    display: flex;
    margin-top: 38px;
}
.skill li 
{
    padding: 0px 30px;
}

#bar
{
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #74AD5B;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bar h1
{
    color: #fff;
}

#dodo
{
    margin: 0 auto;
    height: 800;
    background-image: url(../img/);
}

#monmon
{
    margin: 0 auto;
    height: 800;
}
#berry
{
    margin: 0 auto;
    height: 800;
   line-height: 0;
}

#berry img
{
    display: block;
}

#content4
{
    
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 150px auto;
height: 1000px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
text-align: center;
}

.benefit
{
    margin-top: 38px;
    justify-content: center;
    width: 1320px;
    flex-wrap: wrap;
    display: flex;
}


.benefit li
{
    padding:20px 30px;
}

#last
{
    margin: 0 auto;
    background-color: #EFFFD8;
}
#footer_wrap
{
    background-color: #EFFFD8;
}
#footer
{
font-size: 16px;
    padding-top: 40px;
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    background-color: #EFFFD8;

 }

 #footer_text
 {
    padding: 30px 0px 10px;

    margin: 0 auto;
 }

 .footer_list
 {

    margin: 0 auto;
    display: flex;
 }

 .footer_list li
 {
    padding: 0px 20px 0px 0px;
 }
 .footer_list li a
 {
    display: block;
 }
 .footer_list li a:hover
 {
  color: #74AD5B;
 }

 #footer ul
 {
    margin: 0 auto;
    display: flex;
 }

 #footer ul li
 {
    padding: 5px 20px 0px 0px;
 }

.list
{
    color: #aaaaaa;
}

span
{
    font-family: 'Pretendard';
    font-weight: 700;
}

.ber1
{
    color: #6B4A97;
}
.mon1
{
    color: #D47C20;
}
.dodo1
{
    color: #458538;
}

#footer p
{
    padding-top: 20px;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 16px;
    color: #333;
}

#dodo
{
    background: url(../img/dodo.png) center no-repeat;
    height: 800px;
}
#monmon
{
    background: url(../img/monmon.png) center no-repeat;
    height: 800px;
}
#berry
{
    background: url(../img/berry.png) center no-repeat;
    height: 800px;
}

#last
{

    background:  #EFFFD8 url(../img/last.svg) center no-repeat;
    height: 967px;
    
}